.menuList{
    text-align: center;
    list-style-type: none;
    padding-right: 10%;
    background: rgb(29, 29, 29);
    margin: 0;
    height: 80px;
    vertical-align: middle;
    padding: 0;
}
.menuList li{
    display: inline-block;
    width: 160px;
    color: white;
    line-height: 80px;
    

}
.menuList li a{
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
}