@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

body{
  width: 900px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h1{
  text-align: center;
  font-weight: 900;
  margin-bottom: 40px;
}

.item{
  box-shadow: 0 2px 15px rgba(0,0,0, 0.2);
  margin-bottom: 20px;
}

.item__title{
  position: relative;
  padding: 15px 40px 15px 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.item__toggle{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.item__content{
  padding: 15px;
}

.github-link{
  font-weight: bold;
}

.github-link[href^="http"]{
  position: relative;
  color: red;
}

.github-link[href^="http"]::before{
  content: '';
  width: 20px;
  height: 20px;
  background: url(./img/github-logo.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.github-link[href^="http"]:hover::before{
  display: block;
}