body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* display: flex;
    flex: column wrap;
    align-items: flex-start; */
}

.lecture {
    border: 1px solid #bbb;
}

.lecture p {
    padding-left: 5%;
    margin: 10px 0;
    text-align: start;
}

.lecture a {
    text-decoration: none;
    color: #3583ff;
}
