* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #8b8b8b;
}
.container{
    width: 500px;
    margin: 0 auto;
    padding: 20px 10px;
}

.today-box .cur-city{
    font-weight: 700;
    font-size: 48px;
    color: #444;
}

.today-box .cur-date{
    color: #686868;
}

.flex-container{
    display: flex;
    margin-top: 15px;
}
.flex-container .cur-weather-img{
    width: 50%;
}
.flex-container .cur-weather-detailed{
    width: 50%;
}
.flex-container .cur-weather-img span{
    vertical-align: top;
}
.flex-container .cur-weather-img img{
    width: 120px;
}
.cur-weather-detailed .item{
    display: block;
}
.cur-weather-detailed .item span{
    color: #656565;
}
.border-bottom{
    border-bottom: 1px #cecece solid;
}

.day-item{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #d9d9d9 solid;
}
.day-item div{
    width: 25%;
    text-align: center;
}
.day-item-img img{
    width: 120px;
}
.day-item-temp{
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}
.day-item-temp .max-temp{
    color: #565656;
}
.day-item-name{
    color: #565656;
    font-weight: 700;
}
.day-item-text span{
    color: #565656;
}
