body {
	font-family: Helvetica, sans-serif;
	color: #555
}

.container {
	display: flex;
	flex-direction: column;
	width: 450px;
	margin: auto;
	border: 1px solid #aaa; 
}

h1, #overcast {
	margin: 0px 10px;
}

.current {
	position: relative;
	margin-left: 20px;
}

.current section p {
	margin: 0px;
	padding-left: 100px;
}

.current > p {
	font-size: 1.5em;
}
.current > p span {
	font-size: 0.6em;
	position: absolute;
	top: 27px;
}

section {
	margin-bottom: 15px;
}

.current, .day {
	display: flex;
}

.day {
	justify-content: space-around;
}

.day > * {
	align-self:  center;
}

.gray {
	color: #888;
}

hr {
	width: 95%;
	margin: 0px auto;
	border: 0; 
	height: 1px; 
	background: #bbb;
}

.dayName {
	width: 70px;
	font-weight: bold;
}