body {
    background-color: lavender;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.title {
    color: #3c3b90;
    font-size: 1.5em;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

a {
    color: #0c403f;
}

span.title:hover, a:hover {
    color: orange;
}

span {
    display: block;
    margin: 5px;
    font-weight: bold;
    font-size: 1em;
    color: #1a2f40;
    border-bottom: 1px solid grey;
}
