.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
}

h1 {
    color: #596275;
}

h2 {
    color: blueviolet;
    cursor: pointer;
}

h2:hover {
    color: #ffc106;
}

span {
    font-weight: bold;
    color: #2f3640;
}
