.lecture-list{

}

.table{
    margin: 20px auto;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}

.table caption h2{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
.table button{
    margin: 10px 0 20px;
}

.table th{
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}
.table tr{
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}
.table tr:nth-child(even){
    background-color: #fafafa;
}
.table td{
    border: 1px solid #dfe2e5;
    padding: 15px 20px;
}